html{
    height: 100vh;
    background-color: #F5F1ED;
}
body{
    padding: 0 1em;
    margin: 0 auto;
    max-width: 900px;
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    color:#151515;
}

main{
    min-height: 70vh;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Palatino', "Palatino Linotype";
    color: #2f6690;
}

header{
    display: flex;
    align-content: center;
    width: 100%;
    
}
header h1{
    text-align: center;
    margin: auto 0;
}

nav {
	margin: 0 auto;
	max-width: 900px;
    background-color: #2f6690;
}
nav ul {
	list-style-type: none;
	overflow: hidden;
    display: flex;
    padding: 0;
}

nav ul li { 
    flex: 1 1 auto; 
} 
nav ul li a {
	display: block;
	color: #F8F1FF;
	text-align: center;
	padding: 0.75em;
	text-decoration: none;
	font-size: 1em;
}

.textbox{
    text-align: center;
    max-width: 80%;
    margin: auto;
}

.textbox h2{
    background-color: #2f6690;
    color: #F5F1ED;
}

.textbox p{
    font-size: 1.1em;
    padding: 0 0.5em;
}
.textbox ul{
    text-align: left;
}

footer{
    display: flex;
    width: 100%;
}

.footernames{
    padding: 0;
    margin: auto 0;
}
.footernames h1, .footernames h2{
    margin: auto 0;
    text-align: center;

}

.contact{
    margin: auto;
    width: 40%;
}
.contact h2,.contact p, .contact nav ul{
    margin: 0;   
    padding: 0.05em 0;
}
.contact h2{
    background-color: #2f6690;
    color: #F5F1ED;
    padding: 0 0.15em;
}

.contact nav {
    padding: 0;
    background-color: #F5F1ED;
    
}

.contact nav ul li a{
    padding: 0;
}
.contact nav ul li a img{
    width: 2em;
    height: 2em;
}

#colors{
    width:100%;
}

@media (max-width:480px) {
    main{
        min-height: 40vh;
    }
    nav {
        margin: 0 auto;
        max-width: 900px;
        background-color: #2f6690;
    }
    nav ul {
        list-style-type: none;
        overflow: hidden;
        display: block;
        padding: 0;
    }
    /*
    nav ul li { 
        flex: 1 1 auto; 
    } */
    nav ul li a {
        display: block;
        color: #F8F1FF;
        text-align: center;
        padding: 0.75em;
        text-decoration: none;
        font-size: 1em;
    }

    footer{
        display: block;
        width: 100%;
    }
    footer>img{
        visibility: hidden;
    }
    .footernames{
        padding: 0;
        margin: 0.2em;
    }
    .footernames h1{
        margin: auto 0em;
        text-align: center;
    }
    
    .contact{
        margin: auto;
        width: 100%;
    }
    .contact h2,.contact p, .contact nav ul{
        margin: 0;   
    }
    .contact h2{
        background-color: #2f6690;
        color: #F5F1ED;
        padding: 0 0.15em;
    }
    
    .contact nav {
        padding: 0;
        background-color: #F5F1ED;  
    }
    .contact nav ul {
        display: flex;
    }
    .contact nav ul li { 
        flex: 1 1 auto; 
    }
    .contact nav ul li a{
        padding: 0;
    }
    .contact nav ul li a img{
        width: 2em;
        height: 2em;
    }

    .textbox{
        text-align: center;
        max-width: 100%;
        margin: auto;
    }
}