html{
    height: 100vh;
}
body{
    padding: 1em;
    margin: auto;
    max-width: 900px;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
}

h1, h2, h3, h4, h5, h6{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}



nav {
	background-color: #36454f;
	margin: 0 auto;
	max-width: 780px;
	box-shadow: 0 0 30px rgba(0, 0, 0, 0.9);
}
nav ul {
	list-style-type: none;
	overflow: hidden;
}
nav ul li a {
	display: block;
	color: #fff;
	text-align: center;
	padding: 0.75rem;
	text-decoration: none;
	font-size: 0.95rem;
	background: linear-gradient(90deg, transparent, yellow, transparent) bottom /
		var(--d, 0) 3px no-repeat;
	transition: 0.5s;
}

nav ul { display: flex; }

nav ul li { flex: 1 1 auto; } 
