body {
    color: #151515;
    background-color: #fefae0;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Libre Baskerville', serif;
}

h1 {
    background-color: #CCD5AE;
    width: calc(100%-0.5em);
    padding: 0.1em 0.5em;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.05em;
}



#banner-container {
    width: 100%;
    background-color: #fefae0;
    display: flex;
    flex: auto;
    text-align: center;
    justify-content: space-between;
}

#banner-contaier>* {
    display: block;
}

#social-icons>* {
    display: block;
}


#maintitle {
    font-size: 3em;
    background-color: #fefae0;
}

header,
main,
footer {
    margin: 0 auto;
    max-width: 1050px;

}

nav {
    position: relative;
    margin: 0 auto;
    max-width: 1050px;


}

nav ul{
    position: absolute;
    z-index: 1;
    background-color: #fefae0;
    list-style-type: none;
    display: none;
    padding: 0;
    top: 0;
    left: 3em;
}

nav ul li a {
    border: 1px solid #CCD5AE;
    position: relative;
    display: block;
    color: #151515;
    font-weight: bold;
    text-align: center;
    padding: 0.75em;
    text-decoration: none;
    font-size: 1.1em;
}

nav ul li a:after {
    content: "";
    position: absolute;
    width: 100%;
    bottom: 0.5em;
    left: 0;
    transform: scaleX(0);
    height: 2px;
    background-color: #D4A373;
    transform-origin: middle;
    transition: transform 0.25s ease-out;
}

nav ul li a:hover:after {
    transform: scaleX(1);
    transform-origin: middle;
}

nav ul li a:hover:after {
    transform: scaleX(1);
    transform-origin: middle;
}


nav ul.open {
    display: block;
}


#navbtn {
    background-color: #fefae0;
    border: 0;
    color: #CCD5AE;
    text-align: center;
    padding: 0.75em;
    text-decoration: none;
    font-size: 1.1em;
}

#navbtn span:nth-child(1) {
    display: block;
}

#navbtn span:nth-child(2) {
    display: none;
}

#navbtn.open span:nth-child(1) {
    display: none;
}

#navbtn.open span:nth-child(2) {
    display: block;
}

main {
    display: grid;
    grid-template-columns: repeat(1fr, 6);
    grid-auto-rows: 150px;
    grid-gap: 1em;
    justify-content: center;
    padding: 0 1em;
    background-color: #E9EDC9;
    border-radius: 1em;

}

#coastalareas {
    grid-row: 1/8;
    text-align: center;
}

#weather {
    grid-row: 8/15;
}

#gallery {
    grid-row: 15/20;

}

#gallery>* {
    text-align: center;
    display: block;
    margin: 1em auto;
}

#makeurown {
    grid-row: 20/23;
    text-align: center;
}

#makeurown-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#drinksmade {
    grid-row: 19/22;
    display: none;
}


footer {
    background-color: #fefae0;
    padding: 1em 1em 0.2em;
    margin-top: 1em;
    background-color: #CCD5AE;
    border-radius: 1em;
}

#info {
    max-width: 100%;
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding: 0;
}

#lastmod {
    text-align: center;
}

.box {
    background-color: #fefae0;
    border: 1px solid #CCD5AE;
    border-radius: 1em;
}

.box>* {
    padding: 0 0.8em;
}

#freshform{
    grid-row: 1/6;
}

label,
input,
textarea,
button,
select {
    padding: 0.2em;
    width: 90%;
    margin: 0.2em auto;
    display: inline-block;
    font-size: 1.1em;
    color: #151515;
}

input,
select,
textarea {
    border: 1px solid #CCD5AE;
    border-radius: 0.3em;
}

textarea {
    resize: none;
    height: 12em;
}

#freshsubmit {
    width: 7em;
    height: 3em;
    border: 1px solid #151515;
    background-color: #CCD5AE;
    color: #151515;
    border-radius: 0.7em;
    float: right;
    margin-right: 10%;
}

.required {
    color: red;
}
