@media (min-width:600px) {

    nav {
        max-width: 1050px;
    }

    nav ul {
        background-color: #CCD5AE;
        overflow: hidden;
        padding: 0;
        position: relative;
        display: flex;
        justify-content: space-around;
        border: 0;
        left: 0;
        top: 0;
    }

    #navbtn{
        display: none;
    }

}